#!/bin/bash
tar xf /tmp/php-5.6.22.tar.bz2 -C /tmp
cd /tmp/php-5.6.22
./configure --prefix={{PREFIX}}  --with-fpm-user={{USER}} --with-fpm-group={{GROUP}} --with-mysql={{BASEDIR}} --with-mysql-sock=/var/lib/mysql/mysql.sock --with-mysqli={{BASEDIR}}/bin/mysql_config {{PARAMETER}}
make
make install

